/************************  G E N E R A L   S E T T I N G S ****************************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

body {
	font-family: 'Raleway';
}

header, footer {
	display: block;
}

.col-3 {
	width: 25%;
	float: left;
}

.col-4 {
	width: 33.33%;
	float: left;
}

.col-5 {
	width: 40%;
	float: left;
	padding: 0 1% 0 10%;
}

.col-6 {
	width: 50%;
	float: left;
	padding: 10px;
}

.col-7 {
	width: 60%;
	float: left;
	padding: 0 10% 0 3%;
}

.clear {
	content: "";
	clear: both;
	display: table;
}


/************************ H O M E    P A G E ****************************************/

header {
	width: 100%;
	padding: 145px 0;
	background-color: #fff;
	text-align: center;
}

header h1 {
	font-size: 36px;
	color: #666;
	letter-spacing: 6px;
	font-weight: 400;
	padding: 10px 0;
}

header h2 {
	color: #777;
	letter-spacing: 6px;
	font-weight: 400;
	padding: 10px 0;
}

header h3 {
	color: #777;
	letter-spacing: 5px;
	font-weight: 400;
	padding: 15px 0;
}

.navBar {
	border: 1px solid #ddd;
	width: auto;
	display: inline-block;
	height: auto;
	margin: 25px auto 0 auto;
	overflow: hidden;
}

.navBar ul {
	list-style-type: none;
	overflow: hidden;
}

.navBar ul li {
	float: left;
	padding: 14px 0;
}

.navBar ul li a {
	text-decoration: none;
	font-size: 15px;
	padding: 15px 16px;
	color: #777;
	font-weight: 400;
	letter-spacing: 1px;
}

.navBar ul li a:hover {
    background-color: #ddd;
}

.active {
	background-color: #f2f2f2;
}

.icon {
	display: none;
}

.mainImages {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.mainImages img {
	width: 100%;
	height: auto;
	margin: 10px 0;
	filter: grayscale(80%);
}


.mainImages img:hover {
	filter: grayscale(0%);
}

.leftColumn {
	padding: 0 10px 0 50px;
}

.rightColumn {
	padding: 0 50px 0 10px;
}

footer {
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 60px;
	margin-top: 100px;
}

footer p {
	font-size: 14px;
	color: #333;
}

.socialMedia i {
	font-size: 15px;
    margin: 0 5px;
    border: 1px solid #333;
	border-radius: 100%;
	width: 35px;
	padding: 10px 0;
	text-align: center;
}

.socialMedia i:hover {
	background-color: #333;
	color: white;
}

.socialMedia a {
	color: #333;
	text-decoration: none;
 }
 
 .mobileNavBar {
	 width: 0%;	 
	 overflow: hidden;
	 min-height: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background-color: white;
	 z-index: 2;
	 transition: width .8s ease;
	 overflow: hidden;
	 text-align: center;
 }
 
 .mobileNavBar ul {
	 list-style-type: none;
 }
 
 
 .mobileNavBar ul li a {
	display: block;
	width: 100%;
	color: #777;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 10px;	
	font-size: 15px;
 }
 
 .mobileNavBar ul li a:hover {
	background-color: #ddd;
 }
 
.open {
	 width: 100%;	 
	
 }
 
 .closeButton {
	 text-align:center;
	 padding: 10px 0;
	 font-size: 30px;
	 cursor: pointer;
 }
 
/************************ P O R T F O L I O   P A G E ****************************/

.albums {
	overflow: hidden;
	padding-top: 50px;
}

.album1, .album2, .album3, .album4 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	border: 1px solid transparent;
}

.album1Image, .album2Image, .album3Image, .album4Image {
	width: 90%;
	margin: 0 auto;
	height: 350px;
	background: url("images/image1.jpg") no-repeat center;
	background-size: cover;
}

.album2Image {
	background: url("images/image2.jpg") no-repeat center;
}

.album3Image {
	background: url("images/image5.jpg") no-repeat center;
}

.album4Image {
	background: url("images/image6.jpg") no-repeat center;
}

.album1Info p, .album2Info p, .album3Info p, .album4Info p {
	padding: 10px;
}

.album1:hover, .album2:hover, .album3:hover, .album4:hover{
	border: 1px solid #ddd;
}

.albums hr {
	width: 15%;
	margin: 0 auto;
}
 
 
 
 
 
/************************ A B O U T   P A G E ****************************/

.aboutMe {
	width: 100%;
	height: auto;
	text-align: justify;
	padding-top: 70px;
	overflow: hidden;
}

.aboutMe img {
	width: 100%;
	height: auto;
}

.aboutMe h3 {
	margin: 30px 0 15px 0;
}

.aboutMe p {
	line-height: 2;
}


/************************* C O N T A C T   P A G E ***********************/

.contactMessage {
	padding-top: 30px;
	width: 80%;
	text-align:center;
	margin: 0px auto;
	font-size: 18px;
	line-height: 2;
	color: #555;
	font-weight: 100;
	letter-spacing: 5px;
}

.contactForm {
	max-width: 500px;
	height: auto;
	margin: 10px auto 0px auto;
	padding: 10px;
}

#name, #email {
	display: block;
	width: 400px;
	height: 50px;
	border: 1px solid #ccc;
	margin: 0px auto;
	font-size: 13px;
	padding: 0px 5px;
}

#message {
	display: block;
	width: 400px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 0px auto;
	padding: 10px 5px;
	font-size: 13px;
}

#submit {
	display: block;
	width: 400px;
	height: 50px;
	margin: 0px auto;
	background-color: #555;
	font-size: 16px;
	color: white;
	cursor: pointer;
	border: none;
	outline: none;
}

#submit:hover {
	background-color: #808080;
}

.contactData {
	text-align: center;
	font-size: 15px;
	padding: 30px 0 20px 0;
	font-weight: bold;
	color: #555;
}



/*****************  F O R   T A B L E T S *****************/

@media only screen and (max-width: 1100px) {
	
	.col-3 {
		width: 50%;
	}
			
	header {
		padding: 100px;
	}
	
	.leftColumn {
	   padding: 0 10px 0 30px;
	}

   .rightColumn {
	   padding: 0 30px 0 10px;

    }
	
	.navBar ul li a {
	   font-size: 13px;
	   padding: 17px 10px;
	}
	
}


@media only screen and (max-width: 800px) {
	.col-6 {
		width: 100%;
		text-align: center;
	}
	
	.col-5, .col-7 {
		width: 100%;
		padding: 5%;
	}
	
	
	
	.col-7 {
		padding: 5%;
		line-height: 2;
	}
	
	.aboutImage {
		border: 1px solid green;
	}
	
	.aboutImage img {
	   width: 90%;
	   height: auto;
	   margin: 0px auto;
	   display: block;
	  }
	
	.socialMedia {
		padding: 0 5%;
	}
	
	
}


/*****************  F O R   M O B I L E *****************/

@media only screen and (max-width: 600px) {
	
	.col-3 {
	    width: 100%;	
	}
	
	.col-6 {
		width: 100%;
		padding: 10px;
	}
	
		
	header {
	  
	   padding: 80px 0;
	}

    header h1 {
	   font-size: 28px;
	   padding: 9px 0;
    }

    header h2 {
	   padding: 9px 0;
	   font-size: 20px;
    }

    header h3 {
	  padding: 12px 0;
	  font-size: 15px;
    }
	
   .home, .portfolio, .blog, .about, .contact {
	   display: none; 
    }

   .icon {
	   display: block;
    }

   .navBar ul li {
	  padding: 0;
    }
	
	.navBar ul li a {
	   font-size: 15px;
	   padding: 15px 16px;
	}
	
	.leftColumn {
	  padding: 0 20px;
	  text-align: center;
    }

   .rightColumn {
	  padding: 0 20px;
    }
	
	.aboutMe h2 {
		font-size: 16px;
		font-weight: 100;
	}
	
	.aboutMe h3 {
		font-size: 15px;
	}
	
	.aboutMe p {
		font-size: 15px;
	}	
	
			
	.contactData i {
		display: block;
		padding: 5px;
	}
}
